body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container_main {
  padding: 0 15%;
}

.container {
  padding: 0 20%;
}

/* main screen  */

.header {
  background: url(img/background_main.png) center/cover no-repeat;
  padding: 30px 0;
  height: 100vh;
  background-position: center;
}

/* burger-menu  */

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #fff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  left: -400px; /* Меню по умолчанию сдвинуто за пределы экрана */
  width: 400px; /* Ширина меню */
  height: 100%;
  z-index: 100;
  background: #380f11; /* Цвет фона меню */
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.3s; /* Плавное появление/исчезание */
}

.burger-checkbox:checked ~ .menu {
  left: 0; /* Появление меню при активации чекбокса */
}

.menu a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 15px; /* Промежуток между пунктами меню */
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

/* ///////////// */

.title {
  font-size: 80px;
  color: rgba(255, 215, 136, 1);
  line-height: 78px;
  font-weight: 500;
  padding: 20% 0% 0 50%;
}

/* NEW BLOCK */
#new_block {
  background: url(img/bg_new.png) no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.new_with_pagination {
  padding: 180px 0;
}

.all_contacts {
  padding: 150px 0;
}

.all_poster {
  padding: 80px 0;
}

.all_new,
.all_poster {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.title_new {
  padding-right: 30px;
}
.main_new {
  padding: 0 30px;
  border-left: 1px solid rgba(255, 215, 136, 1);
}

.border_poster {
  background-color: rgba(255, 215, 136, 1);
  width: 1px;
  height: 370px;
  margin: 0 30px;
}
.border_poster {
  height: 645px;
}
.title_new,
.title_poster,
.title_contacts {
  font-size: 20px;
  font-weight: 300;
}

.main_new span {
  font-size: 20px;
  font-weight: 500;
}

.title_main_new {
  color: rgba(255, 215, 136, 1);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0px 0px 9.2px rgba(255, 141, 35, 0.65);
  max-width: 800px;
}

.new_desc {
  font-size: 20px;
  font-weight: 400;
  max-width: 800px;
}

.main_new {
  display: flex;
  max-width: 800px;
}

.slick-list .draggable {
  max-width: 800px;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 200px;
  justify-content: center;
}

.slick-dots {
  display: flex;
  cursor: pointer;
}

.slick-dots button {
  color: white;
  width: 30px;
  border: solid 2px rgba(255, 215, 136, 1);
  background-color: transparent;
  margin: 7px;
  cursor: pointer;
}

.slick-active button {
  box-shadow: 0px 0px 9.2px rgba(255, 141, 35, 0.65);
  background-color: rgba(255, 215, 136, 1);
  cursor: pointer;
}

.slick-arrow {
  cursor: pointer;
}

/* POSTER  */

#poster {
  background: url(img/bg_poster.png) no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: local;
}

.city,
.date {
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0px 0px 9.2px rgba(255, 141, 35, 0.65);
  color: rgba(255, 215, 136, 1);
  text-transform: uppercase;
}
.place {
  font-size: 20px;
  font-weight: 400;
}

.info_poster {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
}

/* CONTACTS  */

#contacts {
  background: url(img/bg_contacts.png) no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: local;
}

.desc_contacts {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}

.border_contacts {
  background-color: rgba(255, 215, 136, 1);
  width: 1px;
  height: 370px;
  margin: 0 30px;
}

.all_contacts {
  display: flex;
}

.name_contacts {
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 215, 136, 1);
  text-transform: uppercase;
}

.info_contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.social_network a {
  position: relative;
}

.music {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music a {
  padding: 5px;
}

.music img {
  width: 150px;
  height: 40px;
}
.grey {
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s ease;
}
.grey:hover {
  opacity: 0;
}

.social_network img {
  width: 30px;
  height: 30px;
  /* filter: grayscale(1); */
  margin: 0 10px;
}
.social_network img:hover {
  filter: grayscale(0);
}

.social_network {
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 1260px) {
  .title_main_new {
    max-width: 600px;
  }
  .new_desc {
    max-width: 600px;
  }

  .main_new {
    display: flex;
    max-width: 600px;
  }

  .slick-list .draggable {
    max-width: 600px;
  }
}

@media (max-width: 1190px) {
  .container,
  .container_main {
    padding: 0 10%;
  }
  .title {
    padding: 65% 0% 0 35%;
  }
}

@media (max-width: 880px) {
  .title {
    padding: 500px 0 0 0;
  }
  .title_main_new {
    max-width: 405px;
  }
  .new_desc {
    max-width: 405px;
  }

  .main_new {
    display: flex;
    max-width: 405px;
  }
  .music {
    flex-wrap: wrap;
  }
  .slick-list .draggable {
    max-width: 405px;
  }
}

@media (max-width: 680px) {
  .header {
    background-position: 25% center;
  }
  .title {
    font-size: 50px;
    padding: 500px 0 0 0;
    line-height: 48px;
  }
  .social_network {
    justify-content: center;
  }
}

@media (max-width: 535px) {
  #new_block {
    background: url(img/new_bg_mob.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  #poster {
    background: url(img/poster_bg_mob.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  #contacts {
    background: url(img/contacts_bg_mob.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .title_new,
  .title_poster,
  .title_contacts {
    margin-bottom: 30px;
  }
  .all_new,
  .all_poster,
  .all_contacts {
    flex-direction: column;
  }
  .main_new {
    padding: 0;
    border: none;
  }
  .title_main_new,
  .new_desc,
  .main_new span {
    font-size: 16px;
  }
  .border_poster,
  .border_contacts {
    display: none;
  }
  .container {
    padding: 0 5%;
  }
  .title_main_new {
    max-width: 300px;
  }
  .new_desc {
    max-width: 300px;
  }

  .main_new {
    display: flex;
    max-width: 300px;
  }
  .music {
    flex-wrap: wrap;
  }
  .slick-list .draggable {
    max-width: 300px;
  }
  .social_network {
    padding: 30px 0 20px 0;
    justify-content: center;
  }
  .social_network img {
    margin: 0px 5px;
  }
  .social_network img {
    width: 30px;
    height: 30px;
    /* filter: grayscale(1); */
    margin: 0 10px;
  }
  .city,
  .date {
    font-size: 20px;
  }
  .place {
    font-size: 16px;
  }
  .name_contacts,
  .desc_contacts {
    font-weight: 400;
    font-size: 16px;
  }
  .menu {
    left: -300px; /* Меню по умолчанию сдвинуто за пределы экрана */
    width: 300px; /* Ширина меню */
  }

  .menu a {
    font-size: 16px;
  }
}
